Repository real-world-study/realworld, pull requests merged in 2021-08, with the labels that each got.

#3 [chance0523-issue2] 회원가입 기능
  build.gradle
  lombok.config
  src/main/java/com/study/realworld/core/domain/user/entity/User.java
  src/main/java/com/study/realworld/core/domain/user/repository/UserRepository.java
  src/main/java/com/study/realworld/user/application/UserService.java
  src/main/java/com/study/realworld/user/application/model/UserRegisterModel.java
  src/main/java/com/study/realworld/user/presentation/UserController.java
  src/main/java/com/study/realworld/user/presentation/model/UserRegisterRequest.java
  src/main/java/com/study/realworld/user/presentation/model/UserResponse.java
  src/main/resources/application.yml
  src/test/java/com/study/realworld/core/domain/user/entity/UserTest.java
  src/test/java/com/study/realworld/user/application/UserServiceTest.java
  src/test/java/com/study/realworld/user/presentation/UserControllerTest.java
Labels: chance, user

#13 [Povia-issue7] 사용자 회원 가입 기능 추가
  build.gradle
  src/main/java/com/tistory/povia/realworld/RealworldApplication.java
  src/main/java/com/tistory/povia/realworld/common/controller/ExceptionHandlingController.java
  src/main/java/com/tistory/povia/realworld/common/domain/BaseTimeEntity.java
  src/main/java/com/tistory/povia/realworld/configuration/JpaConfiguration.java
  src/main/java/com/tistory/povia/realworld/user/controller/JoinRequest.java
  src/main/java/com/tistory/povia/realworld/user/controller/JoinResponse.java
  src/main/java/com/tistory/povia/realworld/user/controller/UserController.java
  src/main/java/com/tistory/povia/realworld/user/domain/Email.java
  src/main/java/com/tistory/povia/realworld/user/domain/User.java
  src/main/java/com/tistory/povia/realworld/user/exception/DuplicatedEmailException.java
  src/main/java/com/tistory/povia/realworld/user/repository/JpaUserRepository.java
  src/main/java/com/tistory/povia/realworld/user/repository/MemoryUserRepository.java
  src/main/java/com/tistory/povia/realworld/user/repository/UserRepository.java
  src/main/java/com/tistory/povia/realworld/user/service/UserService.java
  src/main/resources/application.yml
  src/main/resources/schema-h2.sql
  src/test/java/com/tistory/povia/realworld/RealworldApplicationTests.java
  src/test/java/com/tistory/povia/realworld/user/controller/JoinRequestTest.java
  src/test/java/com/tistory/povia/realworld/user/controller/JoinResponseTest.java
  src/test/java/com/tistory/povia/realworld/user/controller/UserControllerTest.java
  src/test/java/com/tistory/povia/realworld/user/domain/EmailTest.java
  src/test/java/com/tistory/povia/realworld/user/domain/UserTest.java
  src/test/java/com/tistory/povia/realworld/user/service/UserServiceIntegrationTest.java
  src/test/java/com/tistory/povia/realworld/user/service/UserServiceLogicTest.java
Labels: feature, povia, user

#9 [kwj1270-issue5] 회원가입 기능
  build.gradle
  src/main/java/com/study/realworld/domain/BaseTimeEntity.java
  src/main/java/com/study/realworld/domain/user/application/UserJoinService.java
  src/main/java/com/study/realworld/domain/user/domain/User.java
  src/main/java/com/study/realworld/domain/user/domain/UserRepository.java
  src/main/java/com/study/realworld/domain/user/dto/UserJoinRequest.java
  src/main/java/com/study/realworld/domain/user/dto/UserJoinResponse.java
  src/main/java/com/study/realworld/domain/user/ui/UserRestController.java
  src/main/java/com/study/realworld/global/config/JpaConfig.java
  src/main/resources/application.yml
  src/test/java/com/study/realworld/RealworldApplicationTests.java
  src/test/java/com/study/realworld/domain/BaseTimeEntityTest.java
  src/test/java/com/study/realworld/domain/user/application/UserJoinServiceTest.java
  src/test/java/com/study/realworld/domain/user/domain/UserRepositoryTest.java
  src/test/java/com/study/realworld/domain/user/domain/UserTest.java
  src/test/java/com/study/realworld/domain/user/dto/UserJoinRequestTest.java
  src/test/java/com/study/realworld/domain/user/dto/UserJoinResponseTest.java
  src/test/java/com/study/realworld/domain/user/ui/UserRestControllerTest.java
  src/test/java/com/study/realworld/domain/user/ui/UserRestControllerUnitTest.java
Labels: user, woozi

#19 [hoony-lab-issue12] User 도메인 구현
  .github/workflows/build.yml
  build.gradle
  src/main/java/com/study/realworld/config/JpaConfig.java
  src/main/java/com/study/realworld/config/SecurityConfig.java
  src/main/java/com/study/realworld/global/common/BaseTimeEntity.java
  src/main/java/com/study/realworld/user/domain/User.java
  src/main/java/com/study/realworld/user/domain/UserRepository.java
  src/main/java/com/study/realworld/user/dto/UserJoinRequest.java
  src/main/java/com/study/realworld/user/dto/UserLoginRequest.java
  src/main/java/com/study/realworld/user/dto/UserResponse.java
  src/main/java/com/study/realworld/user/service/UserService.java
  src/main/java/com/study/realworld/user/web/UserController.java
  src/main/resources/application.yml
  src/test/java/com/study/realworld/RealworldApplicationTests.java
  src/test/java/com/study/realworld/user/domain/UserRepositoryTest.java
  src/test/java/com/study/realworld/user/domain/UserTest.java
  src/test/java/com/study/realworld/user/service/UserServiceTest.java
  src/test/java/com/study/realworld/user/web/UserControllerTest.java
  test.gradle
Labels: hoony-lab

#15 [jinyoungchoi95-issue8] Authentication(로그인) 기능 구현
  .github/workflows/build.yml
  build.gradle
  src/main/java/com/study/realworld/global/config/WebSecurityConfig.java
  src/main/java/com/study/realworld/security/JjwtService.java
  src/main/java/com/study/realworld/security/JwtAuthentication.java
  src/main/java/com/study/realworld/security/JwtAuthenticationTokenFilter.java
  src/main/java/com/study/realworld/security/JwtService.java
  src/main/java/com/study/realworld/user/controller/UserController.java
  src/main/java/com/study/realworld/user/controller/request/UserJoinRequest.java
  src/main/java/com/study/realworld/user/controller/request/UserLoginRequest.java
  src/main/java/com/study/realworld/user/controller/response/UserResponse.java
  src/main/java/com/study/realworld/user/domain/Password.java
  src/main/java/com/study/realworld/user/domain/User.java
  src/main/java/com/study/realworld/user/service/UserService.java
  src/main/resources/application.yml
  src/test/java/com/study/realworld/security/JjwtServiceTest.java
  src/test/java/com/study/realworld/security/JwtAuthenticationTokenFilterTest.java
  src/test/java/com/study/realworld/user/controller/UserControllerTest.java
  src/test/java/com/study/realworld/user/controller/request/UserJoinRequestTest.java
  src/test/java/com/study/realworld/user/controller/response/UserResponseTest.java
  src/test/java/com/study/realworld/user/domain/PasswordTest.java
  src/test/java/com/study/realworld/user/domain/UserTest.java
  src/test/java/com/study/realworld/user/service/UserServiceTest.java
  test.gradle
Labels: feature, ori, user

#31 [jinyoungchoi95-issue30] rest docs, refactoring
  build.gradle
  src/docs/asciidoc/index.adoc
  src/main/java/com/study/realworld/global/config/WebSecurityConfig.java
  src/main/java/com/study/realworld/security/JwtAuthenticationTokenFilter.java
  src/main/java/com/study/realworld/user/controller/request/UserJoinRequest.java
  src/main/java/com/study/realworld/user/controller/request/UserLoginRequest.java
  src/main/java/com/study/realworld/user/controller/response/UserResponse.java
  src/main/java/com/study/realworld/user/domain/Email.java
  src/main/java/com/study/realworld/user/domain/User.java
  src/main/java/com/study/realworld/user/domain/UserRepository.java
  src/main/java/com/study/realworld/user/domain/Username.java
  src/main/java/com/study/realworld/user/service/UserService.java
  src/test/java/com/study/realworld/user/controller/ApiDocumentUtils.java
  src/test/java/com/study/realworld/user/controller/UserControllerTest.java
  src/test/java/com/study/realworld/user/controller/request/UserJoinRequestTest.java
  src/test/java/com/study/realworld/user/controller/response/UserResponseTest.java
  src/test/java/com/study/realworld/user/domain/EmailTest.java
  src/test/java/com/study/realworld/user/domain/UserTest.java
  src/test/java/com/study/realworld/user/domain/UsernameTest.java
Labels: feature, ori

#33 [jinyoungchoi95-issue16] 현재 유저 정보 반환 및 업데이트 기능 구현
  build.gradle
  src/main/java/com/study/realworld/user/controller/UserController.java
  src/main/java/com/study/realworld/user/controller/request/UserUpdateRequest.java
  src/main/java/com/study/realworld/user/controller/response/UserResponse.java
  src/main/java/com/study/realworld/user/domain/Email.java
  src/main/java/com/study/realworld/user/domain/Password.java
  src/main/java/com/study/realworld/user/domain/User.java
  src/main/java/com/study/realworld/user/domain/Username.java
  src/main/java/com/study/realworld/user/service/UserService.java
  src/main/java/com/study/realworld/user/service/model/UserUpdateModel.java
  src/test/java/com/study/realworld/user/controller/UserControllerTest.java
  src/test/java/com/study/realworld/user/domain/EmailTest.java
  src/test/java/com/study/realworld/user/domain/PasswordTest.java
  src/test/java/com/study/realworld/user/domain/UserTest.java
  src/test/java/com/study/realworld/user/domain/UsernameTest.java
  src/test/java/com/study/realworld/user/service/UserServiceTest.java
Labels: feature, ori, user
